    <main>
        <div class="container mt-auto">
            <br>
            <h3>Eventos</h3>

            <div *ngFor="let actividadoperativa of actividadesOperativas">
                <app-actividadoperativa-item [actividadoperativa]="actividadoperativa">
                </app-actividadoperativa-item>

                <!-- <pre>{{ actividadoperativa | json }}</pre> -->

            </div>

            <div *ngFor="let gestionjudicial of gestionesjudiciales">
                <app-gestionjudicial-item [gestionjudicial]="gestionjudicial">
                </app-gestionjudicial-item>

                <!-- <pre>{{ gestionjudicial | json }}</pre> -->

            </div>
            <br>

        </div>
    </main>
