/*El container hijo directo del main tiene una altura de 100px, para no superponerse al encabezado fixed al reducir pantalla */
main > .container {
  padding-top: 100px;
}

/* los h2 descendientes de main tienen los siguientes margenes superior e inferior de 30px y un tamaño de 48px */
main h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 48px;
}

/* los p descendientes un tamaño de 24px */
main p {
  font-size: 24px;
}

#guardarGJ,
#reset,
#cancelar {
  margin-top: 125px;
  margin-bottom: 40px;
}
