<body class="d-flex flex-column min-vh-100">
    <main>
        <div class="container mt-auto">
            <div class="row justify-content-center">
                <div class="col-8">
                    <h2>Nuevo Evento</h2>
                    <form class="was-validated">
                        <div class="mb-3 mt-3">
                            <label class="form-label">Tipo de Evento:</label>
                            <select [(ngModel)]="formulario" class="form-select" aria-label="Default select example" required>
                                <option selected></option>
                                <option value="1">Actividad Operativa</option>
                                <option value="2">Gestión Judicial</option>
                            </select>
                        </div>


                        <div class="mb-3" *ngIf="formulario == 1">
                            <label class="form-label">Nombre:</label>
                            <input type="text" class="form-control" placeholder="Introduzca el nombre de la actividad operativa" 
                                name="nombreActividadOperativa" maxlength="30"
                                [(ngModel)]="actividadoperativa.nombre" required>
                        </div>
                        <div class="mb-3" *ngIf="formulario == 1">
                            <label class="form-label">Descripción:</label>
                            <textarea type="text" class="form-control" rows="6"
                                placeholder="Introduzca la descripción de la actividad operativa (máximo 500 caracteres)"
                                name="descripcion" maxlength="500" [(ngModel)]="actividadoperativa.descripcion" required></textarea>
                        </div>
                        <div><label class="form-label" *ngIf="formulario == 1">Gastos:</label></div>
                        <div class="mb-3 input-group" *ngIf="formulario == 1">
                            <input type="text" class="form-control" placeholder="Introduzca los gastos realizados durante la Actividad Operativa"
                                [(ngModel)]="actividadoperativa.gastos">
                            <span class="input-group-text">€</span>
                        </div>

                        <div class="mb-3" *ngIf="formulario == 2">
                            <label class="form-label">Nombre:</label>
                            <input type="text" class="form-control"
                                placeholder="Introduzca el nombre de la gestión judicial" name="nombreGestionJudicial" maxlength="30"
                                [(ngModel)]="gestionjudicial.nombre" required>
                        </div>
                        <div class="mb-3" *ngIf="formulario == 2">
                            <label class="form-label">Descripción:</label>
                            <textarea type="text" class="form-control" rows="6" id="descripcion"
                                placeholder="Introduzca la descripción de la gestión judicial (máximo 500 caracteres)"
                                name="descripcion" maxlength="500" [(ngModel)]="gestionjudicial.descripcion" required></textarea>
                        </div>
                        <div class="mb-3" *ngIf="formulario == 2">
                            <label class="form-label">Órgano Judicial:</label>
                            <input type="text" class="form-control" placeholder="Introduzca el órgano judicial"
                                name="organoJudicial" [(ngModel)]="gestionjudicial.organoJudicial" required>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2" *ngIf="formulario == 1">
                    <button id="guardarAO" type="submit" class="btn btn-primary">Guardar</button>
                </div>
                <div class="col-2" *ngIf="formulario == 2">
                    <button id="guardarGJ" type="submit" class="btn btn-primary">Guardar</button>
                </div>
                <div class="col-2" *ngIf="formulario ==1 || formulario == 2">
                    <a routerLink="/"><button id="cancelar" type="button" class="btn btn-danger">Cancelar</button></a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </main>
</body>