<body class="d-flex flex-column min-vh-100">
    <main>
        <div class="container mt-auto">
            
            <h2>Nuevo Evento</h2>

            <form #eventoForm="ngForm"  class="was-validated" id="formulario">

                <div class="row justify-content-center">
                    <div class="col-8">

                        <div class="mb-3 mt-3">
                            <label class="form-label">Tipo de Evento:</label>
                            <select [(ngModel)]="formulario" class="form-select" aria-label="Default select example" required>
                                <option value="1">Actividad Operativa</option>
                                <option value="2">Gestión Judicial</option>
                            </select>
                        </div>

                        <div class="mb-3" *ngIf="formulario == 1">
                            <label class="form-label">Nombre:</label>
                            <input type="text" class="form-control" placeholder="Introduzca el nombre de la actividad operativa" 
                                name="nombreActividadOperativa" minlength="12" maxlength="50"
                                [(ngModel)]="actividadoperativa.nombre" required
                                #nombreActividadOperativa="ngModel" [ngClass]="{
                                    'is-invalid': nombreActividadOperativa.invalid && (nombreActividadOperativa.dirty || nombreActividadOperativa.touched),
                                    'is-valid': !nombreActividadOperativa.invalid
                                }">
                            <div class="text-danger"
                                *ngIf="nombreActividadOperativa.invalid && (nombreActividadOperativa.dirty || nombreActividadOperativa.touched)">
                                <div *ngIf="nombreActividadOperativa.errors?.['required']">
                                    Debe introducir el nombre de la actividad operativa.
                                </div>
                                <div *ngIf="nombreActividadOperativa.errors?.['minlength']">
                                    El nombre de la actividad operativa debe tener un minimo de 12 caracteres y un máximo de 50.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3" *ngIf="formulario == 1">
                            <label class="form-label">Descripción:</label>
                            <textarea type="text" class="form-control" rows="6"
                                placeholder="Introduzca la descripción de la actividad operativa (máximo 500 caracteres)"
                                name="descripcionActividadOperativa" minlength="12" maxlength="500" [(ngModel)]="actividadoperativa.descripcion" required
                                #descripcionActividadOperativa="ngModel" [ngClass]="{
                                    'is-invalid': descripcionActividadOperativa.invalid && (descripcionActividadOperativa.dirty || descripcionActividadOperativa.touched),
                                    'is-valid': !descripcionActividadOperativa.invalid
                            }"></textarea>
                            <div class="text-danger"
                                *ngIf="descripcionActividadOperativa.invalid && (descripcionActividadOperativa.dirty || descripcionActividadOperativa.touched)">
                                <div *ngIf="descripcionActividadOperativa.errors?.['required']">
                                    Debe introducir la descripcion de la actividad operativa.
                                </div>
                                <div *ngIf="descripcionActividadOperativa.errors?.['minlength']">
                                    La descripcion de la actividad operativa debe tener un minimo de 12 caracteres y un maximo de 500.
                                </div>
                            </div>
                        </div>

                        <div><label class="form-label" *ngIf="formulario == 1">Gastos:</label></div>
                        <div class="mb-3 input-group" *ngIf="formulario == 1">
                            <input type="number" class="form-control" placeholder="Introduzca los gastos realizados durante la Actividad Operativa"
                            min="0" max="9999" [(ngModel)]="actividadoperativa.gastos"
                            #gastos="ngModel" [ngClass]="{
                                'is-invalid': gastos.invalid && (gastos.dirty || gastos.touched),
                                'is-valid': !gastos.invalid
                            }">
                            <span class="input-group-text">€</span>
                            <div class="text-danger"
                                *ngIf="gastos.invalid && (gastos.dirty || gastos.touched)">
                                <div *ngIf="gastos.errors?.['min']">
                                    Los gastos no pueden ser negativos ni exceder de 9.999 €
                                </div>
                                <div *ngIf="gastos.errors?.['max']">
                                    Los gastos no pueden ser negativos ni exceder de 9.999 €
                                </div>
                            </div>
                        </div>

                        <div class="mb-3" *ngIf="formulario == 2">
                            <label class="form-label">Nombre:</label>
                            <input type="text" class="form-control" placeholder="Introduzca el nombre de la gestión judicial"
                                name="nombreGestionJudicial" minlength="12" maxlength="50"
                                [(ngModel)]="gestionjudicial.nombre" required
                                #nombreGestionJudicial="ngModel" [ngClass]="{
                                    'is-invalid': nombreGestionJudicial.invalid && (nombreGestionJudicial.dirty || nombreGestionJudicial.touched),
                                    'is-valid': !nombreGestionJudicial.invalid
                                }">
                            <div class="text-danger"
                                *ngIf="nombreGestionJudicial.invalid && (nombreGestionJudicial.dirty || nombreGestionJudicial.touched)">
                                <div *ngIf="nombreGestionJudicial.errors?.['required']">
                                    Debe introducir el nombre de la gestion judicial.
                                </div>
                                <div *ngIf="nombreGestionJudicial.errors?.['minlength']">
                                    El nombre de la gestion judicial debe tener un minimo de 12 caracteres y un máximo de 50.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3" *ngIf="formulario == 2">
                            <label class="form-label">Descripción:</label>
                            <textarea type="text" class="form-control" rows="6"
                                placeholder="Introduzca la descripción de la gestión judicial (máximo 500 caracteres)"
                                name="descripcionGestionJudicial" minlength="12" maxlength="500" [(ngModel)]="gestionjudicial.descripcion" required
                                #descripcionGestionJudicial="ngModel" [ngClass]="{
                                    'is-invalid': descripcionGestionJudicial.invalid && (descripcionGestionJudicial.dirty || descripcionGestionJudicial.touched),
                                    'is-valid': !descripcionGestionJudicial.invalid
                            }"></textarea>
                            <div class="text-danger"
                                *ngIf="descripcionGestionJudicial.invalid && (descripcionGestionJudicial.dirty || descripcionGestionJudicial.touched)">
                                <div *ngIf="descripcionGestionJudicial.errors?.['required']">
                                    Debe introducir la descripcion de la gestion judicial.
                                </div>
                                <div *ngIf="descripcionGestionJudicial.errors?.['minlength']">
                                    La descripcion de la gestion judicial debe tener un minimo de 12 caracteres y un maximo de 500.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3" *ngIf="formulario == 2">
                            <label class="form-label">Órgano Judicial:</label>
                            <input type="text" class="form-control" placeholder="Introduzca el órgano judicial"
                                name="organoJudicial" minlength="12" maxlength="50" 
                                [(ngModel)]="gestionjudicial.organoJudicial" required
                                #organoJudicial="ngModel" [ngClass]="{
                                    'is-invalid': organoJudicial.invalid && (organoJudicial.dirty || organoJudicial.touched),
                                    'is-valid': !organoJudicial.invalid
                            }">
                            <div class="text-danger"
                                *ngIf="organoJudicial.invalid && (organoJudicial.dirty || organoJudicial.touched)">
                                <div *ngIf="organoJudicial.errors?.['required']">
                                    Debe introducir el organo judicial.
                                </div>
                                <div *ngIf="organoJudicial.errors?.['minlength']">
                                    El nombre del organo judicial debe tener un minimo de 12 caracteres y un maximo de 50.
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-2" *ngIf="formulario == 1">
                        <button id="guardarAO" type="submit" class="btn btn-primary" 
                        [disabled]="!eventoForm.form.valid" (click)="onAddActividadOperativa()">Guardar</button>
                    </div>
                    <div class="col-2" *ngIf="formulario == 2">
                        <button id="guardarGJ" type="submit" class="btn btn-primary" 
                        [disabled]="!eventoForm.form.valid" (click)="onAddGestionJudicial()">Guardar</button>
                    </div>
                    <div class="col-2" *ngIf="formulario ==1 || formulario == 2">
                        <a routerLink="/"><button id="cancelar" type="button" class="btn btn-danger">Cancelar</button></a>
                    </div>
                    <!-- <div class="col-2" *ngIf="formulario ==1 || formulario == 2">
                        <button id="reset" type="reset" class="btn btn-warning">Restablecer valores</button>
                    </div> -->
                </div>

            </form>
            
        </div>
        <!-- <br>         <pre>{{ actividadoperativa | json }}</pre>
        <br>         <pre>{{ gestionjudicial | json }}</pre> -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </main>
</body>
