<main>
    <div class="container mt-auto">
        <br>
        <h3>Eventos</h3>

        <div *ngFor="let actividadoperativa of actividadesOperativas">
            <app-actividadoperativa-consultar 
                [actividadoperativa]="actividadoperativa"
                (actividadoperativaConsultar)="onActividadOperativaConsultar($event)">
            </app-actividadoperativa-consultar>

            <pre>{{ actividadoperativa | json }}</pre>

        </div>

        <div *ngFor="let gestionjudicial of gestionesjudiciales">
            <app-gestionjudicial-consultar 
                [gestionjudicial]="gestionjudicial"
                (gestionjudicialConsultar)="onGestionJudicialConsultar($event)">
            </app-gestionjudicial-consultar>

            <pre>{{ gestionjudicial | json }}</pre>

        </div>
        <br>

    </div>
</main>